branches:
  except:
    - stable
language: ruby
cache: bundler
sudo: false
bundler_args: --without local
rvm:
  - 2.3.1
env:
  - TEST_GROUP=1
  - TEST_GROUP=2
  - TEST_GROUP=3
  - TEST_GROUP=4
  - TEST_GROUP=5
  - TEST_GROUP=6
script:
  - bundle exec rubocop
  - bundle exec foodcritic -f any .
  - bundle exec parallel_test spec/unit/ -n 6 --only-group $TEST_GROUP --group-by filesize --type rspec
notifications:
  webhooks:
    secure: "EvqENtM8Nxy7Zd1W3kg+5kiHAXnnPeMEmg3Q6wNUkOtgcvrMaWLnhvaLKETPN4jKVlCDZfBGEPT8WXTTXZoInLhbDaIc9E38A/LQTd3NeWHEPQCJlnqIfg7n8FKdMQSJf4mNZEkvVYVFWkpvDjyrETVyQyq+6lD7lgA1Vi70JvOFNXXm38Lqeivdfy+K378OFj6r5fOCTwoKWSxJHPUIfxNR2tRBiZ1DmsoXSnwFs4wqPycCoEJR41cdB1eABL8XIZIiDDDqN8bU5XTgK+4UnUpTF7Y14z/zFn2u4nbqJn2MFi1fJhggi34CYHgyR5w6bDgZDRMqBhCJ1KtLq93xCv6+pHHd+FgiQaPtYub1fTYl75Bjkh7PPN4d2m4t9ACn772+Ok4c74teWtE+VyDDtrj6OP3q+vurFHA3rmZPWvr/ImSRPQiQTInf6HG3fMyXic9aPMrtwLyeGI9veaqhU2ubrGjVriBUGxfetQbQX5O5WmMyvhYqc9LyEIeqida7J9O6tKwMke+2HGwP21J3ixUjTQjsemy1ybs9xL9bBb8CQbsHNq4qz+GRq71SecQHLYIz1R6xJwui5NLjhjKBnjoFISOUEAfCT/rAmUijG1W+ffAUiIEzF4/sz9I9GWb770bCifTe/S/5fiRduIo33esAwOZ3gcllY2wtpDpqWw0="
